/* grundläggande stil för alla element */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 20, 20);
    color: #ffffffcb;
    margin: 0;
    padding: 20px;
}


h1{
    text-align: center;
    margin-bottom: 20px;

}

/* Fade-in och scale animation för hela containern */
.container {    
    display: table;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0; /* Börjar osynlig */
    transform: scale(0.9); /* Minskat till 90% av storleken */
    animation: fadeInScale 0.6s forwards; /* Animation */
}

/* Animation keyframes */
@keyframes fadeInScale {
    0% {
        opacity: 0; /* Osynlig */
        transform: scale(0.9); /* Liten */
    }
    100% {
        opacity: 1; /* Fullt synlig */
        transform: scale(1); /* Full storlek */
    }
}

.input-field input {
    color: white; /* Change text color to white */
}

.btn {
    width: 100%;
    font-weight:400;
}

/* Resultat container */
.result-container {
    background-color:#00bbff56;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(65, 65, 65, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Resultat */
.result-item {
    display: flexbox;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    flex-basis: calc(10% - 5px); /* Gör så att resultaten får en viss bredd */
    transition: transform 0.3s ease; /* Lägg till en övergång för transformation */
}

/* Stil för Bish och Bosh */
.bish {
    background-color: #b3e5fc; /* Ljusblå bakgrund för Bish */
    color: #0277bd; /* Mörkblå textfärg */
}

.bosh {
    background-color: #ffcdd2; /* Ljusrosa bakgrund för Bosh */
    color: #c62828; /* Mörkröd textfärg */
}

.bish-bosh {
    background-color:#a4feaf;
    color: #00270c; 
}


/* Header animation */
h1, h4, h2 {
    animation: slideIn 0.5s forwards; /* Animation för rubriker */
    opacity: 0; /* Börjar osynlig */
}

/* Footer animation */
footer {
    text-align: center;
    opacity: 0; 
    animation: fadeIn 0.6s forwards; /* Animation för footer */
}

/* Keyframes för slide-in effekt */
@keyframes slideIn {
    0% {
        opacity: 0; 
        transform: translateY(-20px); /* Flyttar uppåt */
    }
    100% {
        opacity: 1; 
        transform: translateY(0); /* Tillbaka till sin plats */
    }
}

/* Keyframes för fade-in effekt */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Osynlig */
    }
    100% {
        opacity: 1; /* Fullt synlig */
    }
}
